	@keyframes bounceInRight {
	  from, 60%, 75%, 90%, to {
	    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	  }

	  from {
	    opacity: 0;
	    transform: translate3d(3000px, 0, 0);
	  }

	  60% {
	    opacity: 1;
	    transform: translate3d(-25px, 0, 0);
	  }

	  75% {
	    transform: translate3d(10px, 0, 0);
	  }

	  90% {
	    transform: translate3d(-5px, 0, 0);
	  }

	  to {
	    transform: none;
	  }
	}

.main{
	display: inline-block;

	&.sidebar{
		aside{
			width: 0%;
			opacity: 0;
			display: none;
			animation-duration: 1s;
  			animation-fill-mode: both;
			animation-name: bounceInRight;
		}
		section{
			width: 100%;
		}
	}
	section{
		width: 70%;
		float: left;
		padding: 1em;
		div{
			h2{
				font-family: "Times New Roman", Georgia, Serif;
			}
			img{
				width: 100%;
			}
		}
	}
	aside{
	   -moz-box-shadow:    inset 0 0 10px @gray-base;
	   -webkit-box-shadow: inset 0 0 10px @gray-base;
	   	box-shadow:         inset 0 0 10px @gray-base;
		width: 30%;
		float: left;
		padding: 1em;
		animation-duration: 1s;
  		animation-fill-mode: both;
		animation-name: bounceInRight;
	}
}