.main{
	section{
		width: 70%;
		float: left;
		padding: 1em;
		div{
			img{
				width: 100%;
			}
		}
	}
	aside{
	   -moz-box-shadow:    inset 0 0 10px @gray-base;
	   -webkit-box-shadow: inset 0 0 10px @gray-base;
	   	box-shadow:         inset 0 0 10px @gray-base;
		width: 30%;
		float: left;
		padding: 1em;
	}
}